<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Usuarios</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(function(user) { %>
                  <tr>
                    <td><%= user._id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                      <a href="/users/<%= user._id %>/edit" class="btn btn-primary">Editar</a>
                      <form method="POST" action="/users/<%= user._id %>?_method=DELETE" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                      </form>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

